@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
    /* Prevent pull-to-refresh on mobile */
    overscroll-behavior: none;
    /* Prevent tap highlight on mobile */
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}
